@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font: inherit;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --bg-color: #DCDCDC;
    --bg-color2: #1992D4;
    --bg-color3: white;
}

body {
    font-family: 'Roboto';
}
.main {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 300px 1fr;
}

/* header */

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    align-items: center;
}


/* search-container */
.search-container {
    display: flex;
    gap: 20px;
}

.search-container > input {
    border: none;
    padding: 5px;
    background-color: var(--bg-color);
    border-radius: 0.5rem;
    max-width: 80%;
    flex: 1;    
}

/* greeting-container */
.greeting-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto 1fr;
}

.greeting {
    align-self: center;
}

.greeting-container .first-line {
    font-weight: bold;
    font-size: small; 
}

.greeting-container  .second-line {
    grid-column: 2 / 3;
    margin-top: 5px;
    font-weight: bold;
    font-size: large; 
}

.greeting-container img {
    height: 90px;
    width: 90px;
}

/* profile-container */
.profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
    /* for text */
    font-weight: bold;
    font-size: large;
    justify-self: end;
}

/* buttons-container */
.buttons-container {
    justify-self: end;
    display: flex;
    gap: 20px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 80px;
    height: 35px;
    border: none;
    background-color: var(--bg-color2);
    border-radius: 0.9rem;
    color: white;
}

/* sidebar */

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--bg-color2);
    padding: 20px 30px;
    color: white;
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar-item {
    margin-bottom: 15px;
}

.sidebar-item, .dashboard {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* .dashboard {
    display: flex;
    align-items: center;
    gap: 10px;
} */

.dashboard > h2{
    
    display: inline;
}


/* content */

.content {    
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px 10px;
    background-color: var(--bg-color);
}

.content h3 {
    grid-row: 1;
}

.cards {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    display: grid;
    gap: 20px;
    padding: 20px 10px 0px;
    background-color: var(--bg-color3);
    border-left: 10px solid #F0B428;
    border-radius: 0.5rem;
    height: 200px;
    width: 370px;
}

.card h2, .content h3 {
    font-size: large;
    font-weight: bold;
}

.card .buttons {
    justify-self: end;
}

/* content > announcements */

.announcement-cards {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--bg-color3);
    padding: 30px 20px;
    /* height: 60%; */
    width: 70%;
    border-radius: 0.5rem;
}

.announcement-cards h5 {
    font-weight: bold;
}
/* content > trendings */
.trending-cards {
    display: flex;
    flex-direction: column;
    gap: 13px;
    background-color: var(--bg-color3);
    padding: 30px 20px;
    /* height: 60%; */
    width: 70%;
    border-radius: 0.5rem;
}

.user-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.profile-photo {
    height: 50px;
    width: 50px;
    border-radius: 5em;
}

/* general */
